.container {
  width: fit-content;
  border-radius: .5em;
  padding: 1em;
  width: 35em;
  min-height: 10em;
  margin-bottom: 2em;
}

.empty {
  background: #dfdfdf;
}

label input {
  height: 2em;
  border-radius: .5em;
  margin-left: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
  outline: .2em solid green;
  box-shadow: none;
  border-style: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.warning {
  color: red;
  margin-left: .3em;
}

.warner {
  outline: .2em solid red;
}

label {
  display: grid;
  grid-template-columns: 8em 15em auto;
  align-content: center;

  small {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  p {
    margin-top: auto;
    margin-bottom: auto;
  }

  select {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2em;
    outline: .2em solid green;
    border-radius: .3em;
    border: none;


  }



}

option {
  font-style: italic;
  font-weight: bold;
  color: blue;
}